<div id="contact-container">
  <%= form_for(@contact, remote: true) do |f| %>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div id="contact-sub-container">
      <div class="field">
        <%= f.text_area :name,
            class: "contact-style",
            id: "contact-name",
            placeholder: "Name" %>
      </div>

      <div class="field">
        <%= f.text_area :email,
            class: "contact-style",
            id: "contact-email",
            placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.text_area :body,
            class: "contact-style",
            id: "contact-body",
            placeholder: "Message" %>
      </div>

      <div class="field hidden">
        <%= f.text_area :comment %>
      </div>

      <div class="actions">
        <%= f.submit "Contact Malcolm",
            class: "contact-button"%>
      </div>
    </div>

  <% end %>
</div>
