<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>

  <tbody>
    <% @projects.each do |project| %>
      <div class="index-project">

        <%= attachment_image_tag(project.images.first, :file, :fill, 250, 140, class: "img-responsive" )%>

        <div class="index-project-title">
          <%= project.title %>
        </div>

        <div class="index-project-description">
          <%= project.description %>
        </div>
      </div>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
