<p id="notice"><%= notice %></p>

<div id="projects-container">
  <% @projects.each do |project| %>
    <div class="index-project">
      <a href="<%= project_path(project.id) %>">
        <%= attachment_image_tag(project.images.first, :file, :fill, 250, 155, class: "img-responsive" )%>

        <div class="index-project-title">
          <%= project.title %>
        </div>

        <div class="index-project-date">
          <%= project.created_at.strftime('%b %d %Y') %>
        </div>
      </a>
    </div>
  <% end %>
</div>

<br>
<br>
<br>
<%= link_to 'New Project', new_project_path %>
