<!DOCTYPE html>
<html>
  <head>
    <title>Silver Hand | Malcolm Gourdine's UI design + web development website</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'hand_logo_icon.png'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= image_tag("hand_logo.png", id:"hand-logo") %>
    <%= render "/layouts/logo_color" %>
    <%= render "/layouts/bg_color" %>

    <div class="container" id="height-container">
      <div id="mobile-menu" class="hidden-sm hidden-md hidden-lg hidden-xl">
       <div id="left"><%= link_to 'Home', root_path, ({class: "active"} if current_page?(root_path))  %></div>
       <div id="right"><%= link_to 'Contact', new_contact_path, ({class: "active"} if current_page?(new_contact_path))  %></div>
       <div id="center"><%= link_to 'Portfolio', projects_path, ({class: "active"} if current_page?(projects_path))  %></div>
      </div>
      <%= yield %>
    </div>

    <% if admin_signed_in? %>
      <%= link_to "sign out", destroy_admin_session_path,method: :delete, id: "sign_out" %>
    <% end %>

    <p id="floater">Malcolm Gourdine &nbsp;&nbsp; <span style="color:#939393">Web Design + Development</span></p>

    <div id="sidebar" class="hidden-xs">
      <ul id="nav" class="navigation nav-right affix">
        <li id="home">
          <%= link_to 'Home', root_path, ({class: "active"} if current_page?(root_path))  %>
        </li>
        <li id="portfolio">
          <%= link_to 'Portfolio', projects_path, ({class: "active"} if current_page?(projects_path))  %>
        </li>
        <li id="contact">
          <%= link_to 'Contact', new_contact_path, ({class: "active"} if current_page?(new_contact_path))  %>
        </li>
      </ul>
    </div>

    <%= render "/layouts/footer" %>
  </body>
</html>
