<!DOCTYPE html>
<html>
<head>
  <title>Silver Hand | Malcolm Gourdine's UI design + web development website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'hand_logo_icon.png'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

<p id="floater">Malcolm Gourdine &nbsp;&nbsp; <span style="color:#939393">Web Design + Development</span></p>

<div id="sidebar" class="hidden-xs">
  <%= image_tag("hand_logo.png", id:"hand-logo") %>
  <p id="silver-hand">silver <br> hand</p>

  <ul id="nav" class="navigation nav-right affix">
    <li id="home">
      <%= link_to 'Home', root_path, ({class: "active"} if current_page?(root_path))  %>
    </li>

    <li id="portfolio">
      <%= link_to 'Portfolio', projects_path, ({class: "active"} if current_page?(projects_path))  %>
    </li>

    <li id="contact">
      <%= link_to 'Contact', new_contact_path, ({class: "active"} if current_page?(new_contact_path))  %>
    </li>
  </ul>
</div>

<div id="footer">
  <div class="container">
    <p id="footer-text">More Silver Hand</p>
    <p></p>
  </div>
</div>

</body>
</html>
